<div class="panel panel-border panel-primary">
  <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class="panel-body">
      <table id="sample" class="table table-striped m-0">
        <thead>
          <tr role="row">
            <th>Property No</th>
            <th>Description</th>
            <th>Model</th>
            <!-- <th>Acquisition</th>
            <th>Acquisition Date</th>
            <th>Acquisition Cost</th>
            <th>Serial</th>
            <th>Inventory Tag</th>
            <th>Classification</th>
            <th>Condition</th>
            <th>Supplier</th>
            <th>Remarks</th> -->
            <th>&nbsp; </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in ackinputs track by $index" class="gradeC odd" role="row">
            <!-- <td>{{u.id}}</td> -->
            <td>{{u.property_no}}</td>
            <td>{{u.description}}</td>
            <td>{{u.model}}</td>
            <!-- <td>{{u.acquisition}}</td>
            <td>{{u._date}}</td>
            <td>{{u.acquisition_cost}}</td>
            <td>{{u._serial}}</td>
            <td>{{u.inventory_tag}}</td>
            <td>{{u.classification}}</td>
            <td>{{u._condition}}</td>
            <td>{{u.supplier}}</td>
            <td>{{u.remarks}}</td> -->
            <td>
              <!-- <a class="on-default edit-row"> <button ng-click='myEquipment.equipAdd(this,u)' class="btn btn-info waves-effect waves-light btn-sm" id="sa-success"><i class="fa fa-pencil"></i> </button></a>
              <a class="on-default remove-row"> <button ng-click='myEquipment.equipDelete(this,u)' class="btn btn-info waves-effect waves-light btn-sm" id="sa-success"><i class="fa fa-trash-o"></i> </button></a> -->
              
              <!-- <input type="checkbox" ng-model="u.selected" value="{{u.property_no}}"> -->

              <button ng-click="ackreciept.addtocart(this)">{{addtocart.addlabel}}</button>
              <!-- <button ng-click="ackreciept.removetocart(this)">{{addtocart.removelabel}}</button> -->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-3">
		<div class="table-responsive">
			<table class="table table-striped m-0">
				<tr>
					<th>Added to Cart</th>
					<th>&nbsp; Action</th>
				</tr>
				<tr ng-repeat = "a in checked track by $index">
					<td>{{a.model}}</td>
					<td><button ng-click="checked.splice($index,1)" class="btn btn-info waves-effect waves-light btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="table-responsive">
		</div>
	</div>
</div>

