<section>
	<div class="row">
		<div ng-repeat="u in input.multiple">
			<div class="col-md-6">
				<form class="form-horizontal" role="form">                                    
		            <div class="form-group">
		                <label class="col-md-2 control-label">Property Number </label>
			                <div class="col-md-10">
			                    <input type="text" class="form-control" name="property_no{{index}}" ng-model="u.property_no">
			                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label" >Description </label>
			                <div class="col-md-10">
			                    <input type="text" class="form-control" name="description{{index}}" ng-model="u.description">
			                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label">Model </label>
			                <div class="col-md-10">
			                    <input type="text" class="form-control" name="model{{index}}" ng-model="u.model">
			                </div>
		            </div>
		                                     
		            <div class="form-group">
		                <label class="col-md-2 control-label">Acquisition </label>
			                <div class="col-md-10">
			                   <input type="text" class="form-control" name="acquisition{{index}}" ng-model="u.acquisition">
			                </div>
		            </div>                                                                        
		            <div class="form-group">
		                <label class="col-md-2 control-label">Acquisition Date </label>
			                <div class="col-md-10">
			                   <input type="date" class="form-control" name="acquisition_date{{index}}" ng-model="u.acquisition_date">
			                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label">Acquisition Cost </label>
			                <div class="col-md-10">
			                   <input type="text" class="form-control" name="acquisition_cost{{index}}" ng-model="u.acquisition_cost">
			                </div>
		            </div>
		            
		        </form>
			</div>
			
			<div class="col-md-6">
				<form class="form-horizontal" role="form">                                    
		            <div class="form-group">
		                <label class="col-md-2 control-label">Serial </label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" name="_serial{{index}}" ng-model="u._serial">
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label" >Inventory Tag </label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" name="inventory_tag{{index}}" ng-model="u.inventory_tag">
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label">Classification </label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" name="classification{{index}}" ng-model="u.classification">
		                </div>
		            </div>
		                                     
		            <div class="form-group">
		                <label class="col-md-2 control-label">Condition </label>
		                <div class="col-md-10">
		                   <input type="text" class="form-control" name="_condition{{index}}" ng-model="u._condition">
		                </div>
		            </div>                                                                        
		            <div class="form-group">
		                <label class="col-md-2 control-label">Supplier </label>
		                <div class="col-md-10">
		                   <input type="text" class="form-control" name="supplier{{index}}" ng-model="u.supplier">
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-md-2 control-label">Remarks </label>
		                <div class="col-md-10">
		                   <input type="text" class="form-control" name="remarks{{index}}" ng-model="u.remarks">
		                </div>
		            </div>
		            
		        </form>
		        <div id="action" align="right">
		        <button ng-click="myEquipment.multiple.remove(this)">Remove </button>
		        </div>
		        <hr>
		        </div>			
	</div>
	</div>
		<div id="action" align="right">
		        	<br><br>
					<button class="btn btn-info waves-effect waves-light btn-sm" ng-click="myEquipment.equipSave(this)">Save</button>
					<button>Cancel</button>
				</div>
	</div>
</section>

