<div class="e_content">
    <div class="col-md-10">
      <div class="form-group">
        <label class= "label-default"> Property Number </label>
          <div class="col-md-10">
            <label class= "label-default"> Property Number </label>
                <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                  <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>

                    <label class= "label-default"> Inventory Tag </label>
                      <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                        <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <label class= "label-default"> Description </label>
                <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
      
                <label class= "label-default"> Model </label>
                  <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                    <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>   
            </div>
          </div>

          <div class="form-group">
            <label class= "label-default"> Acquisition </label>
              <div class="col-md-10">
                <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                  <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>

                    <label class= "label-default"> Classification </label>
                      <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
                      <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>

            </div>
          </div>
              
              <div class="form-group">
          <label class= "label-default"> Acquisition Date </label>
            <div class="col-md-10">
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>

              <label class= "label-default"> Condition </label>
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
            </div>
            </div>

            <div class="form-group">
          <label class= "label-default"> Acquisition Cost </label>
            <div class="col-md-10">
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
            

              <label class= "label-default"> Supplier </label>
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
            </div>
            </div>

        <div class="form-group">
          <label class= "label-default"> Serial Number </label>
            <div class="col-md-10">
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
              

              <label class= "label-default"> Remarks </label>
              <input type="text" name="property_id" class='form-control' ng-model="" ng-class="{'has-error': formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid}" required>
              <span class="text-danger" ng-show="formHolder.user.property_id.$touched && formHolder.user.property_id.$invalid">Property Number is required</span>
             
            </div>
            </div>
      



</div>
